* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.grid-container {
  display: grid;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: red;
  height: 3em;
  padding: 1em;
}

header > .logo {
  margin-right: auto;
}

table {
  width: 100%;
}